.boton-home {
    padding: .8em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 1em;
}
.boton-home:hover {
    color: #5c5c5c;
}
.titulo-principal {
    font-family: 'Roboto', sans-serif;
}
.texto {
    font-family: 'Roboto', sans-serif;
}
.img-home {
    border-radius: 1em;
}
.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.logo {
    height: 2.5em;
}
.logo:hover {
    transform: scale(1.1, 1.1);
}
.nombre {
    color: grey;
    text-decoration: underline 1px;
}
.texto-sobre-mi {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 2em;
}
.sub-titulo {
    font-family: 'Roboto', sans-serif;
}
.galeria-video {
    margin-left: 5px;
}
.galeria-video2 {
    margin-right: 5px;
}
.galeria:hover {
    transform: scale(1.1,1.1);
    transition: .5s;
}
.boton-contacto {
    background-color: #000;
    color: #fff;
    border: none;
    padding: .6em;
    border-radius: 7px;
}
.boton-contacto:hover {
    color: #5c5c5c;
}
.color-fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(imagenes/pexels-expect-best-323772.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}
@media screen and (max-width: 768px) { /*Hago esta media query para acomodar el footer y las tarjetas de titulos y certificaciones. Tambien le doy un poco de padding a las imagenes de la galeria para que no queden juntas*/
    .titulos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .galeria {
        padding: 10px;
    }
}